In [1]:
import pandas as pd

import sklearn #ML model building
from sklearn import svm
from sklearn import cluster
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score

C:\Users\Bruno\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
catalog = pd.read_csv('inputs/catalog.csv', sep=',')
catalog.head(10)

,pid,current_price,original_price,category,sub_category,sub_sub_category
0,c9fe04e5097c087b6b6eeccc3adc4a142e14aa46,699.0,NaN,c1bd5fd999bd577743936898ada96496b547af3c,f08770a96fb546673053ab799f5ea9cada06c06a,2d2c44a2d8f18a6271f0e8057313af68a46d0f24
1,e00988f42f7fc5f14ec6a0e7905789110f23c5de,150.0,NaN,37b2661cc181c987f68770e43990152026920ba5,11e623a37e87cf7995c466723ec99688d55cae8c,11e623a37e87cf7995c466723ec99688d55cae8c
2,1e2e7c0d4082295728c1684a702cb43e1d332d3e,549.9,1049.9,c37df0ae71b97699a478def3001a3516a905a51d,f08770a96fb546673053ab799f5ea9cada06c06a,d6605426aaa703bf19874c0caac79a661b73de33
3,a279dd2284eb57533ca417c258ede0a0526a6f6e,0.0,0.0,c1bd5fd999bd577743936898ada96496b547af3c,6d9d48ae11ee1909235f31e9bfe5d36aa1462cb3,9a2e3cb56f6a1756fd35a4fd70172a67ecf13639
4,405b0362ae6ec149700164811b0e7773c8300e9d,79.9,0.0,c37df0ae71b97699a478def3001a3516a905a51d,78af0aac89e0f15a6c9fc70b5bff79d98c6dcc43,2541a58f702844477aab540e5df7b859a1e3d5de
5,d2df16bee9d37212d9dc0a9709c3a8579fedcfff,209.9,0.0,c37df0ae71b97699a478def3001a3516a905a51d,78af0aac89e0f15a6c9fc70b5bff79d98c6dcc43,d1e9767d8a0bd6d2bf67011d187d114cce67abb1
6,bdd7e95656924176860952506e72218a84e44e2b,0.0,0.0,c1bd5fd999bd577743936898ada96496b547af3c,78af0aac89e0f15a6c9fc70b5bff79d98c6dcc43,26efe347411a7070ef5cf75485203b58ee3cd3e7
7,daae65b7b1a2599bbe626aeb99c4a7ed4fab5a27,1389.9,0.0,c37df0ae71b97699a478def3001a3516a905a51d,8da1de08d7ee1f4f425c27a91b7fc3771dc66f74,54f708b3c394d2fb2ba687d4d1e5ed8804307f6f
8,11e952b51619add4cc796cd8d174b6e08eef1c2b,179.9,369.9,c37df0ae71b97699a478def3001a3516a905a51d,78af0aac89e0f15a6c9fc70b5bff79d98c6dcc43,eb0619cfb60da489f61001b19331dad5d480f82b
9,6af9bdadcdaef8b2654432c98b3c111d74c2dfc2,449.9,0.0,c37df0ae71b97699a478def3001a3516a905a51d,78af0aac89e0f15a6c9fc70b5bff79d98c6dcc43,d25e9813f29dcd86213b8879536008c79f1c80d2

In [3]:
#print(catalog.category.unique())
cat_keys = catalog.category.unique()
print(len(cat_keys))

#print(catalog.sub_category.unique())
sub_cat_keys = catalog.sub_category.unique()
print(len(sub_cat_keys))

#print(catalog.sub_sub_category.unique())
sub_sub_cat_keys = catalog.sub_sub_category.unique()
print(len(sub_sub_cat_keys))

#checking to see if there are any duplicates
print(len(catalog.pid.unique()))

print(len(catalog.pid))

14
33
81
19091
19091

In [4]:
#Initially will ignore sub_sub_category. Later will revisit to see if it improves accuracy
catalog = catalog.drop(['sub_sub_category'], axis=1)

#Making it easier to both study and parse with algos, by transforming the categories in simple numeric variables
cat_map = {}
sub_cat_map = {}

for i in range(0, len(cat_keys)):
    cat_map[cat_keys[i]] = i
    
for i in range(0, len(sub_cat_keys)):
    sub_cat_map[sub_cat_keys[i]] = i
    
catalog.category = catalog.category.map(cat_map)
catalog.sub_category = catalog.sub_category.map(sub_cat_map)

catalog.head(10)

,pid,current_price,original_price,category,sub_category
0,c9fe04e5097c087b6b6eeccc3adc4a142e14aa46,699.0,NaN,0,0
1,e00988f42f7fc5f14ec6a0e7905789110f23c5de,150.0,NaN,1,1
2,1e2e7c0d4082295728c1684a702cb43e1d332d3e,549.9,1049.9,2,0
3,a279dd2284eb57533ca417c258ede0a0526a6f6e,0.0,0.0,0,2
4,405b0362ae6ec149700164811b0e7773c8300e9d,79.9,0.0,2,3
5,d2df16bee9d37212d9dc0a9709c3a8579fedcfff,209.9,0.0,2,3
6,bdd7e95656924176860952506e72218a84e44e2b,0.0,0.0,0,3
7,daae65b7b1a2599bbe626aeb99c4a7ed4fab5a27,1389.9,0.0,2,4
8,11e952b51619add4cc796cd8d174b6e08eef1c2b,179.9,369.9,2,3
9,6af9bdadcdaef8b2654432c98b3c111d74c2dfc2,449.9,0.0,2,3

In [5]:
#Remove NaN values, so we can work with original_price and current_price
catalog.fillna(-1, axis=1, inplace=True)
catalog.head(10)

,pid,current_price,original_price,category,sub_category
0,c9fe04e5097c087b6b6eeccc3adc4a142e14aa46,699.0,-1.0,0,0
1,e00988f42f7fc5f14ec6a0e7905789110f23c5de,150.0,-1.0,1,1
2,1e2e7c0d4082295728c1684a702cb43e1d332d3e,549.9,1049.9,2,0
3,a279dd2284eb57533ca417c258ede0a0526a6f6e,0.0,0.0,0,2
4,405b0362ae6ec149700164811b0e7773c8300e9d,79.9,0.0,2,3
5,d2df16bee9d37212d9dc0a9709c3a8579fedcfff,209.9,0.0,2,3
6,bdd7e95656924176860952506e72218a84e44e2b,0.0,0.0,0,3
7,daae65b7b1a2599bbe626aeb99c4a7ed4fab5a27,1389.9,0.0,2,4
8,11e952b51619add4cc796cd8d174b6e08eef1c2b,179.9,369.9,2,3
9,6af9bdadcdaef8b2654432c98b3c111d74c2dfc2,449.9,0.0,2,3

In [6]:
#Create a column indicating if the product is on sale or not
catalog = catalog.assign(is_sale = lambda x: x.current_price < x.original_price)
catalog.head(10)

,pid,current_price,original_price,category,sub_category,is_sale
0,c9fe04e5097c087b6b6eeccc3adc4a142e14aa46,699.0,-1.0,0,0,False
1,e00988f42f7fc5f14ec6a0e7905789110f23c5de,150.0,-1.0,1,1,False
2,1e2e7c0d4082295728c1684a702cb43e1d332d3e,549.9,1049.9,2,0,True
3,a279dd2284eb57533ca417c258ede0a0526a6f6e,0.0,0.0,0,2,False
4,405b0362ae6ec149700164811b0e7773c8300e9d,79.9,0.0,2,3,False
5,d2df16bee9d37212d9dc0a9709c3a8579fedcfff,209.9,0.0,2,3,False
6,bdd7e95656924176860952506e72218a84e44e2b,0.0,0.0,0,3,False
7,daae65b7b1a2599bbe626aeb99c4a7ed4fab5a27,1389.9,0.0,2,4,False
8,11e952b51619add4cc796cd8d174b6e08eef1c2b,179.9,369.9,2,3,True
9,6af9bdadcdaef8b2654432c98b3c111d74c2dfc2,449.9,0.0,2,3,False

In [7]:
copy_catalog = catalog.copy(deep=True)
copy_catalog = copy_catalog.drop(['pid','current_price', 'original_price'], axis=1)

#copy_catalog.head(10)

cluster = cluster.KMeans(n_clusters=15)
cluster.fit(copy_catalog)
result = cluster.predict(copy_catalog)

In [8]:
print(result)
print(len(result))

[9 7 3 ..., 2 8 9]
19091

In [9]:
catalog = catalog.assign(cluster = result)
catalog.head(30)

,pid,current_price,original_price,category,sub_category,is_sale,cluster
0,c9fe04e5097c087b6b6eeccc3adc4a142e14aa46,699.0,-1.0,0,0,False,9
1,e00988f42f7fc5f14ec6a0e7905789110f23c5de,150.0,-1.0,1,1,False,7
2,1e2e7c0d4082295728c1684a702cb43e1d332d3e,549.9,1049.9,2,0,True,3
3,a279dd2284eb57533ca417c258ede0a0526a6f6e,0.0,0.0,0,2,False,5
4,405b0362ae6ec149700164811b0e7773c8300e9d,79.9,0.0,2,3,False,1
5,d2df16bee9d37212d9dc0a9709c3a8579fedcfff,209.9,0.0,2,3,False,1
6,bdd7e95656924176860952506e72218a84e44e2b,0.0,0.0,0,3,False,6
7,daae65b7b1a2599bbe626aeb99c4a7ed4fab5a27,1389.9,0.0,2,4,False,1
8,11e952b51619add4cc796cd8d174b6e08eef1c2b,179.9,369.9,2,3,True,10
9,6af9bdadcdaef8b2654432c98b3c111d74c2dfc2,449.9,0.0,2,3,False,1
10,7a58ddec08df4a46498bdbe6ad501aeb961f4085,99.9,0.0,2,2,False,12
11,8af878fd87488424a042920a31a5898a9916ac08,790.0,-1.0,0,2,False,5
12,2e1baec2d2398fe18d33dc23aaf33daf3cdf0791,99.9,179.9,2,3,True,10
13,076e5a3a32038d0ba2d7e8fac5f6a5249a68e749,1049.9,-1.0,1,1,False,7
14,8c0b914022d9d339e5028b232733da5f21391070,640.0,-1.0,2,3,False,1
15,3d275f125d41d85989fb54646e5f6075d8ec53ef,0.0,0.0,0,3,False,6
16,f7aa3960790ab0e79d4287fba152f0ba0d074ee5,1795.0,0.0,2,3,False,1
17,53016aa2df9ae11ddd4161620532c778155462ef,274.9,0.0,0,3,False,6
18,878a153f374dacbeec3ca0cc84a5082e2260304a,269.9,379.9,2,5,True,2
19,b52d54feee67ab0daa9c8f10b5ed454a9ca5191a,441.0,0.0,0,2,False,5
20,9e4db4dd69eb675729462f16159280538902a8cb,199.9,349.0,3,6,True,2
21,471b561f02812adffaced06731de5141e18c4bd4,1199.0,0.0,2,3,False,1
22,e01ff37221852f9338cb0217ab0e0bbb81cf1e08,1349.0,-1.0,0,0,False,9
23,e114c448f4ab8554ad14eff3d66dfeb3965ce8fc,159.9,299.9,1,1,True,7
24,69a78e0e08e93bbe7c490f216bd9360d21d04db9,600.0,-1.0,3,6,False,2
25,9e071a3a594a8964cbefe784f8a6afaa94c0de17,699.9,-1.0,0,2,False,5
26,4ea33e5483d3d714abfd8fac970e1f0cd656980c,475.0,0.0,0,3,False,6
27,a287bc81e097b715cd6f2d595b25c9b1f8e40840,0.0,0.0,2,2,False,12
28,d5433dd78ffdeb28a29991af01c5e169490c5e23,249.9,0.0,2,3,False,1
29,e56ed66c39db4433ce5835cca96d78d8ded944a3,589.9,1199.0,0,3,True,11

In [10]:
catalog.to_csv('processed_catalog.csv', sep=';')